body {
  background-color: rgb(4, 1, 44);
  color: rgb(255, 255, 255);
}

.segment {
  background-color: rgb(41, 38, 38) !important;
}

label {
  color: aliceblue !important;
  font-size: 1.3rem !important;
}
button {
  padding: 0.4em 2em;
}

input {
  font-size: 1.5rem !important;
  border: 10px !important;
}
